body {
    color: white;
    background-image: url("northern_lights.jpg");
}

h1 {
  color: white;

}
  .low-usage {
    color: green;
  }

  .medium-usage {
    color: yellow;
  }

  .high-usage {
    color: red;
  }
